html(lang='en')
    head
        title Gyroscopes Motion Capture
        link(rel='stylesheet', href='../styles/main.css')
    body
        button.button.button__reconnect Reconnect
        canvas#canvas
        script.
            require('../scripts/main.js')